.text69 {
    position: relative;
    float: none;
    color: purple;
    text-decoration: none;
}


.text69:hover {
    color: rgb(255, 255, 255);
    transition: color 0.3s;
    cursor: pointer;
    text-decoration: none;
}



.light-mode {
    background-color: #ffa4e7;
    color: black;
    font-family: cursive;

}

#buttonlightmode {
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    right: 40px;
    float: right;
    color: rgb(255, 255, 255);
    outline: none;
    transition: all .2s ease-in-out;
}

.intro {
    height: 300px;
}

.pfp {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 2%;
    margin-left: 13%;
    margin-top: 6%;
}

body {
    overflow-y: auto;
    overflow-x: hidden !important;
    background-color: rgb(14, 16, 18);
    color: white;
    font-family: cursive;
    transition: background-color 0.5s;
}

.pp {
    position: relative;
    margin-right: 50%;
    top: 40px;
    width: 800px;
}

.intoductionTXT {
    position: absolute;
    overflow: hidden;
    left: 500px;
    top: 130px;
    margin-right: 25%;
}

#headInfo {
    font-weight: 600;
}

#info {
    font-size: 20px;
}



.UID {
    position: relative;
    top: -10px;
    float: right;
}

#UID {
    font-family: monospace;
}


@media only screen and (max-width: 1300px) {
    .intoductionTXT {
        position: relative;
        overflow: hidden;
        left: 100px;
        top: 80px;
        margin-right: 20%;
        margin-left: 5%;
    }
}


@media only screen and (max-width: 810.4px) {
    .intoductionTXT {
        position: relative;
        overflow: hidden;
        left: 90px;
        top: 80px;
        margin-right: 20%;
        margin-left: 5%;
    }
}



@media only screen and (max-width: 810.5px) {
    .intoductionTXT {
        position: relative;
        overflow: hidden;
        left: 50px;
        top: 40px;
        margin-right: 20%;
        margin-left: 5%;
    }
}




@media only screen and (min-width: 1920px) {
    .intoductionTXT {
        position: absolute;
        overflow: hidden;
        left: 530px;
        top: 150px;
    }
}


@media only screen and (min-width: 2208px) {
    .intoductionTXT {
        position: absolute;
        overflow: hidden;
        left: 580px;
        top: 180px;
        margin-right: 40%;
    }
}


@media only screen and (min-width: 2560px) {
    .intoductionTXT {
        position: absolute;
        overflow: hidden;
        left: 600px;
        top: 200px;
        margin-right: 30%;
    }
}


@media only screen and (min-width: 3072px) {
    .intoductionTXT {
        position: absolute;
        overflow: hidden;
        left: 700px;
        top: 230px;
        margin-right: 50%;
    }
}


@media only screen and (min-width: 3840px) {
    .intoductionTXT {
        position: absolute;
        overflow: hidden;
        left: 800px;
        top: 250px;
        margin-right: 60%;
    }
}

@media only screen and (min-width: 5120px) {
    .intoductionTXT {
        position: absolute;
        overflow: hidden;
        left: 950px;
        top: 350px;
        margin-right: 60%;
    }
}

#spotifyimg {
    position: fixed;
    float: left;
    bottom: 40px;
    left: 40px;
}

.favMap {
    position: relative;
    top: 120px;
    left: 130px;
    margin-left: 6%;
    margin-right: 60%;
    width: 200px;
}
